Sprint 6/Desafio/etapa-1/data/movies.csv
Sprint 6/Desafio/etapa-1/data/series.csv
Sprint 6/Desafio/etapa-1/.env
Sprint 8/Exercicios/Geracao-em-massa-de-dados/Etapa-3/nomes_aleatorios.txt
Sprint 8/Exercicios/Apache-spark/nomes_aleatorios.txt